/********************************* ERRTHANG *********************************/

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #bfdcff;
}

.case {
  background-color: white;
  padding: 50px 100px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 1000px;
}

h2 {
  margin-bottom: 15px;
}

section {
  margin: 50px 0; 
}

.flexy {
  display: flex;
}

.pull-right {
  justify-content: flex-end;
}

.pull-left {
  justify-content: flex-start;
}

.big-shadow {
  box-shadow: 7px 7px black;
}

.sm-shadow {
  box-shadow: 5px 5px black;
}

.x-sm-shadow {
  box-shadow: 3px 3px black;
}

/********************************* HEADER *********************************/
header {
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 3.2rem;
}

button.theme-control {
  padding: 5px 10px;
  background-color: #8babf1;
  font-size: 1.1rem;
  border-radius: 10px;
  border-style: none;
  transition: all 0.3s ease;
}

button.theme-control:hover {
  background-color: black;
  color: #8babf1;
}

button.theme-control:active {
  background-color: black;
  color: #8babf1;
  transform: scale(0.90);
}

/********************************* ABOUT ME *********************************/
div.about {
  gap: 25px;
}

img.portrait {
  width: 100%;
  border-radius: 10px;
}

.about-text {
  flex-direction: column;
  gap: 20px;
}

/********************************* PROJECTS *********************************/
.projects-case {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  justify-items: center;
}

/********************************* PROJECTS - CARD *********************************/
.fake-card {
  background-color: #8babf1;
  height: 250px;
  width: 250px;
}

.card {
  background-color: #8babf1;
  border-radius: 10px;
  width: 250px;
  min-height: 250px;
}

.card-image {
  height: 125px;
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

/********************************* CONTACT *********************************/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/********************************* MEDIA - TABLET *********************************/
@media (max-width: 1000px) {
  picture {
    flex-shrink: 0;
    width: 50%;
  }

  .case {
    margin: 15px;
  }
}
/********************************* MEDIA - MOBILE *********************************/
@media (max-width: 500px) {
  div.about {
    display: flex;
    flex-direction: column;
  }
  
  picture {
    width: 100%;
  }
  
  .case {
    margin: 10px;
    padding: 10px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
}